@import url("../../owo.css");

body {
  font-family: noto !important;
}

.sidenav {
  margin-top:  50px;
  width: 128px;
  position: fixed;
  z-index: 1;
  top: 20px;
  background-color: #333;
  overflow-x: hidden;
}

.sidenav > a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 16px;
  color: #fff;
  display: block;
}

.sidenav > a.active {
  background-color: var(--nv-green);
}

.sidenav > a:hover {
  background-color: #4CAF50;
}

.command {
  margin-top: 35px;
  margin-left: 150px;
  padding: 0px 10px;
}

.code {
  background-color: black;
  color: white;
  padding: 16px;
  font-family: monospace;
}

.s0-x {
  display: block;
  color: black;
  font-size: 16px;
}